

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-bottom: 30px;
    background-color: rgb(242, 239, 239);
    color : rgb(10, 10, 10);
}

.no-decoration {
    text-decoration: none;
    color: inherit; /* keeps the text color same as h6 */
}


/* Home page */
    /* Cart badge */
        .cart-badge {
            position: absolute;
            top: 2px;
            right: 0;
            background: #f08804;
            color: #000;
            font-size: 11px;
            font-weight: bold;
            padding: 2px 6px;
            border-radius: 50%;
            line-height: 1;
        }
/* Home carousel */

#home-carousel-section {
    margin-bottom: 40px;
}

#homeCarousel {
    border-radius: 0px;
    overflow: hidden;
    background-color: black;
}

/* Carousel image */
#homeCarousel .home-carousel-img {
    height: 560px;
    object-fit: cover;
}

/* Caption styling */
#homeCarousel .home-carousel-caption {
    background: rgba(0, 0, 0, 0.45);
    padding: 16px 20px;
    border-radius: 10px;
}
#homeCarousel .carousel-item {
    background-color: black;
    transition: transform 2s ease-in-out
}

/* Caption text */
#homeCarousel .home-carousel-caption h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

#homeCarousel .home-carousel-caption p {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

/* home products section */
#home-products-section {
    padding: 20px 0;
}


/* End Home Page */

#products-container {

    /* Product card */
    .product-card {
        border-radius: 10px;
        transition: transform 0.2s ease, box-shadow 1s ease;
        border: 0px solid;
        padding: 0;
        background-color: rgb(253, 214, 214);
    }
    
    .product-card:hover {
        transform: translate(1px, -2px);
        box-shadow: 2px 2px 8px 5px rgba(2, 253, 19, 0.12);
        background-color: rgb(253, 253, 253);
    }

    /* Thumbnail image */
    .product-thumb {
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* Placeholder image */
    .placeholder-img {
        height: 180px;
        background: #f1f1f1;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 0;
    }

    /* Title */
    .product-title {
        font-weight: 800;
        font-size: 0.95rem;
        margin-bottom: 16px;
    }

    /* Description */
    .product-desc {
        font-size: 1.05rem;
        color: #666;
    }

    /* Price */
    .product-price {
        font-weight: 700;
        font-size: 1rem;
        color: #873a19;
    }

}


/* Product Detail Page */

/* Thumbnail */

.product-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* Carousel */

.product-carousel {
    position: relative;
    border-radius: 12px;
    object-fit: cover;
    overflow: hidden;
    background-color: rgb(15, 1, 1);
    
}

.product-main-img {
    height: 420px;
    object-fit: contain;
}

/* Image Buttons */

.image-btn {
    position: absolute;
    top: 12px;
    z-index: 10;
}

.image-btn-left {
    left: 12px;
}

.image-btn-right {
    right: 12px;
}

/* Product Info */

.product-info {
    padding: 10px;
}

.product-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.product-desc {
    color: #555;
    line-height: 1.6;
}

.product-price {
    color: #198754;
    font-weight: 600;
    margin-top: 15px;
}

.product-action-buttons {
    flex-wrap: wrap;
}

/* Delete product */
/* Delete Product Page */

#delete-product-section {
    background-color: #000000;
}

.delete-product-card {
    border-radius: 12px;
}

.delete-product-thumbnail {
    border-radius: 8px;
    border: 1px solid #ddd;
    object-fit: cover;
}

main{
    background-color: #f8dfd4;
}